<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
<!--		<form th:action="@{/}" method="get">-->
<!--			<input type="submit" th:value="戻る"/>-->
	        <h1>育児ポイント</h1>
<!--	        現在のポイント-->
<!--	        <div id="pointDspl"></div>-->
<!--		</form>-->
	       
<!--	    <form th:action="@{/stock-execute}" th:object="${PointForm}" method="post">-->
<!--	        <input type="submit" th:value="ためる"/>-->
<!--	    </form>-->
	    
<!--	    <form th:action="@{/use-execute}" th:object="${PointForm}" method="post">-->
<!--	        <input type="submit" th:value="使う"/>-->
<!--        </form>-->
    </body>
</html>